body
{
background-image: url("arrièreplan.jpg");
}
p
{
color: black ;
}
h1
{
	color: black ;
}
h2
{
	color: red ;
}
h3
{
	color: red ;
}
h4
{
	color: red ;
}
h5
{
	color: red ;
}
ul
{
	color: green ;
}
